Depends: python-pygit2
Test-Command: cd "$ADTTMP" ; python -c "import pygit2 ; print pygit2.__version__"

Depends: python3-pygit2
Test-Command: cd "$ADTTMP" ; python3 -c "import pygit2 ; print(pygit2.__version__)"
